{% extends "header.html" %}
{% block content %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
           Refund
        </h1>

        <ol class="breadcrumb">
            <li>
                <i class="fa fa-cube"></i><a href="#"> Accounting</a>
            </li>

            <li class="active">
                        <i class="fa fa-cube"></i> Refund
              </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<form action="{{ base_url }}index.php/accounting/refund/save" method="post" name="form1">
<div class="row">    
    <div class="col-lg-12">
        <div class="form-group col-md-4">
            
                <label>Branch</label>
                <input class="form-control" id="ref_no" name="ref_no" type="text" value="{{ edit.ref_no }}" required/>                
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-md-4">
            
                <label>Refund Number</label>
                <input class="form-control" id="ref_no" name="ref_no" type="text" value="{{ edit.ref_no }}" required/>                
               
        </div>
        <div class="form-group col-md-4">
            
                <label>Transc Number</label>
                <input class="form-control" id="ref_no" name="ref_no" type="text" value="{{ edit.ref_no }}" required/>                
               
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-md-4">
            
                <label>Collect Date</label>
                <input onfocus="gfPop.fPopCalendar(this);" class="form-control" id="datepicker" name="tanggal_transaksi" type="date" value="{{ edit.tanggal_transaksi }}"  required />               
              
        </div>
        <div class="form-group col-md-4">
            
                <label>Date</label>
                <input onfocus="gfPop.fPopCalendar(this);" class="form-control" id="datepicker" name="tanggal_transaksi" type="date" value="{{ edit.tanggal_transaksi }}"  required />               
                
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-md-4">
            
                <label>Department</label>
                <input class="form-control" id="ref_no" name="ref_no" type="text" value="{{ edit.ref_no }}" required/>                
                
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-md-4">
            
                <label>Type</label>
                <input class="form-control" id="ref_no" name="ref_no" type="text" value="{{ edit.ref_no }}" required/>                
             
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-md-4">
            
                <label>Customer Name</label>
                <input class="form-control" id="ref_no" name="ref_no" type="text" value="{{ edit.ref_no }}" required/>                
               
        </div>
        <div class="form-group col-md-4">
            
                <label>Contact Person</label>
                <input class="form-control" id="ref_no" name="ref_no" type="text" value="{{ edit.ref_no }}" required/>                
               
        </div>
    </div>    
</div>
<br>
<br>
<div class="row">    
    <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
              <thead>
                  <tr>
                       <th nowrap="nowrap">Invoice No</th>
                       <th nowrap="nowrap">Title</th>
                       <th nowrap="nowrap">Name</th>
                       <th nowrap="nowrap">Airline</th>
                       <th nowrap="nowrap">Sector Flown</th>                  
                  </tr>     
                  <tr>
                      <th nowrap="nowrap" colspan="2">Description</th>
                      <th nowrap="nowrap" colspan="2">Airline Name</th>
                      <th nowrap="nowrap">Used Type</th>
                  </tr>    
              </thead>
          </table>
        </div>    
    </div>    
</div>
<input type="submit" class="btn btn-default" value="Save">
</form>  

<br>
<br>
<div class="row">    
    <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
               <thead>
                   <tr>
                       <th nowrap="nowrap">Branch</th>
                       <th nowrap="nowrap">Refund Number</th>
                       <th nowrap="nowrap">Transac Number</th>
                        <th nowrap="nowrap">Collect Date</th>
                       <th nowrap="nowrap">Date</th>
                        <th nowrap="nowrap">Dept</th>
                       <th nowrap="nowrap">Type</th>
                       <th nowrap="nowrap">Customer</th>
                       <th nowrap="nowrap">CP</th>
                       <th nowrap="nowrap">Action</th>
                   </tr>
               </thead>
               <tbody>
                   {% for data in data %}
                   <tr>
                       <td nowrap="nowrap">{{ data.cabang_nama }}</td>
                       <td nowrap="nowrap">{{ data.refund_no }}</td>
                       <td nowrap="nowrap">{{ data.transaksi_no }}</td>
                       <td nowrap="nowrap">{{ data.collect_date }}</td>
                       <td nowrap="nowrap">{{ data.date }}</td>
                       <td nowrap="nowrap">{{ data.dept_nama }}</td>
                       <td nowrap="nowrap">{{ data.refund_type }}</td>
                       <td nowrap="nowrap">{{ data.customer_name }}</td>
                       <td nowrap="nowrap">{{ data.cp }}</td>
                       <td nowrap="nowrap"><a href="{{ base_url }}index.php/accounting/refund/form/?id={{ data.id_cc|trim }}"><i class="fa fa-fw fa-pencil"></i> Edit</a> <a href="javascript:void();" onclick="deleteThis('{{ base_url }}index.php/accounting/refund/delete/?id={{ data.id_cc|trim }}')"><i class="fa fa-fw fa-trash-o"></i> Delete</a></td>
                   </tr>
                   {% endfor %} 
               </tbody>
          </table>
        </div>    
    </div>    
</div>

{% endblock %}