{% extends "header.html" %}
{% block content %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
           Debit Note 
        </h1>

        <ol class="breadcrumb">
            <li>
                <i class="fa fa-cube"></i><a href="#"> Accounting</a>
            </li>

            <li class="active">
                        <i class="fa fa-cube"></i> Debit Note
              </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<form action="{{ base_url }}index.php/accounting/debit_note/save" method="post" name="form1">
<div class="row">    
    <div class="col-lg-12">
        <div class="form-group">
            
                <label>Branch</label>
                <input class="form-control" id="ref_no" name="ref_no" type="text" value="{{ edit.ref_no }}" required/>                
               
        </div>
        <div class="form-group">
            <div>
                <label>DN Number</label>
                <input class="form-control" id="ref_no" name="ref_no" type="text" value="{{ edit.ref_no }}" required/>                
            </div>    
        </div>
        <div class="form-group">
            
                <label>Date</label>
                <input class="form-control" id="ref_no" name="ref_no" type="text" value="{{ edit.ref_no }}" required/>                
               
        </div>
        <div class="form-group">
            
                <label>Type</label>
                <input class="form-control" id="ref_no" name="ref_no" type="text" value="{{ edit.ref_no }}" required/>                
                
        </div>
        <div class="form-group">
           
                <label>Department</label>
                <input class="form-control" id="ref_no" name="ref_no" type="text" value="{{ edit.ref_no }}" required/>                
                
        </div>
        <div class="form-group">
            
                <label>Supplier</label>
                <input class="form-control" id="ref_no" name="ref_no" type="text" value="{{ edit.ref_no }}" required/>                
            
        </div>
        <div class="form-group">
            
                <label>CP</label>
                <input class="form-control" id="ref_no" name="ref_no" type="text" value="{{ edit.ref_no }}" required/>                
               
        </div>
    </div>    
</div>
<br>
<br>
<div class="row">    
    <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
              <thead>
                  <tr>
                       <th nowrap="nowrap">Code</th>
                       <th nowrap="nowrap">Ccy</th>
                       <th nowrap="nowrap">Amount</th>
                       <th nowrap="nowrap">Rate</th>
                       <th nowrap="nowrap">Tax Refund</th>
                       <th nowrap="nowrap">Cancel Fee</th>
                       <th nowrap="nowrap">Adm Fee</th>
                       <th nowrap="nowrap">Product</th>                       
                  </tr>     
                  <tr>
                      <th nowrap="nowrap">&nbsp;</th>
                      <th nowrap="nowrap" colspan="2">Airline Name</th>
                      <th nowrap="nowrap">Invoice</th>
                      <th nowrap="nowrap">Tour Code</th>
                      <th nowrap="nowrap">Group No</th>
                      <th nowrap="nowrap" colspan="2">Description</th>
                  </tr>    
              </thead>
          </table>
        </div>    
    </div>    
</div>
<input type="submit" class="btn btn-default" value="Save">
</form>  

<br>
<br>
<div class="row">    
    <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
               <thead>
                   <tr>
                       <th nowrap="nowrap">Branch</th>
                       <th nowrap="nowrap">CN Number</th>
                       <th nowrap="nowrap">Date</th>
                       <th nowrap="nowrap">Type</th>
                       <th nowrap="nowrap">Dept</th>
                       <th nowrap="nowrap">Customer</th>
                       <th nowrap="nowrap">CP</th>
                       <th nowrap="nowrap">Action</th>
                   </tr>
               </thead>
          </table>
        </div>    
    </div>    
</div>

{% endblock %}