{% extends "header.html" %}
{% block content %}

<div class="judul">setup / city form entry</div>

<div class="tabmenu">
	<ul class="ultab">
    	<li><a href="{{ base_url }}index.php/main/city/dataList">list data</a></li>
        <li class="seltab"><a href="#">form entry</a></li>
    </ul>
</div>

<form action="{{ base_url }}index.php/main/city/save" method="post" name="form1">
<input type="hidden" name="id" id="id" value="{{ edit.id_city }}" />
 
<label for="id_country">Country Name</label>
<select id="id_country" name="id_country">
    {% for count in country %}
    <option value="{{ count.id_country }}" {% if count.id_country == edit.id_country %} selected="selected" {% endif %}>{{ count.nama_country }} ({{ count.kode_country }})</option>
    {% endfor %}
</select>
<br/>

<label for="currency">City</label>
<input name="nama_city" type="text" id="nama_city" value="{{ edit.nama_city }}"  size="30"  required /> *
<br/>

<label for="keterangan" class="top">Description</label>
<textarea name="keterangan" cols="50" rows="8" id="keterangan" type="text">{{ edit.keterangan }}</textarea>
<br/>

<div class="submit_div">
<input type="submit" class="button" value="save" /> <input name="Reset" type="reset" class="btn" value="cancel" onclick="window.location='{{ base_url }}index.php/main/country/form'" />
</div>
</form>
{% endblock %}