<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SIMPADU - BPPTBT</title>
<link href="assets/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div>
	<div id="logo_index_div"><img src="assets/img/logoindex.png" /></div>
    <div id="container" style="background:none;">
        <div id="login_div">
        	<form id="form_login" method="post" action="option.html">
            	<label for="nip" style="color:#FFFFFF; width:100px">username</label>
            		<input name="nip" type="text" size="20" />
				<br />
                <label for="nip" style="color:#FFFFFF; width:100px">password</label>
            	<input name="nip" type="password" size="20" />				
                <div class="submit_div" style="margin-left:105px; margin-top:-10px;">
                	<input type="submit" class="button" value="login" /> <input type="button" value="Registrasi Peserta" class="button" />
                </div>
                <div align="center" style="color:#FFFFFF; font-size:11px;">[ Langsung tekan tombol Login ]</div>
            </form>
            
        </div>
    </div> 
</div>   
</body>
</html>
