{% extends "header.html" %}
{% block content %}

<div class="judul">setup / country data list</div>

<div class="tabmenu">
	<ul class="ultab">
    	<li class="seltab"><a href="#">list data</a></li>
        <li><a href="{{ base_url }}index.php/main/country/form">form entry</a></li>
    </ul>
</div>

<form action="" method="post">
<label for="find">Search</label>
<input name="find" type="text" id="find" size="40" value="{{ find }}" required /> *
<br/>

<label for="by">By</label>
<select name="by">
	<option value="nama_country" {% if by == 'nama_country' %} selected="selected" {% endif %}>Name</option>
    <option value="kode_country" {% if by == 'kode_country' %} selected="selected" {% endif %}>Code</option>
</select>
<br/>

<div class="submit_div">
<input type="submit" class="button" value="search" /> <input name="bersihkan" type="button" class="btn" value="clear search" onclick="window.location='{{ base_url }}index.php/mains/country/datalist'" />
</div>
</form>

<table cellspacing="1" class="datagrid">
<thead>
<tr>
  	<th nowrap="nowrap">Code</th>
    <th nowrap="nowrap">Country</th>
    <th nowrap="nowrap">Currency</th>
    <th nowrap="nowrap">Process</th>
</tr>
</thead>
<tbody>
{% for data in data %}
  <tr>
    <td>{{ data.kode_country }}</td>
    <td>{{ data.nama_country }}</td>
    <td>{{ data.currency }}</td>
    <td><a href="{{ base_url }}index.php/main/country/form/?id={{ data.id_country|trim }}" class="tick_data" title="Edit Data"></a><a href="javascript:void(0)" onclick="deleteThis('{{ base_url }}index.php/main/country/delete/?id={{ data.id_country|trim }}')" class="delete_data"  title="Delete Data"></a></td>
  </tr>
{% endfor %}
</table>
{{ links|raw }}

{% endblock %}