{% extends "header.html" %}
{% block content %}

<div class="judul">setup / city data list</div>

<div class="tabmenu">
	<ul class="ultab">
    	<li class="seltab"><a href="#">list data</a></li>
        <li><a href="{{ base_url }}index.php/main/city/form">form entry</a></li>
    </ul>
</div>

<form action="" method="post">
<label for="find">Search</label>
<input name="find" type="text" id="find" size="40" value="{{ find }}" required /> *
<br/>

<label for="by">By</label>
<select name="by">
	<option value="a.nama_city" {% if by == 'a.nama_city' %} selected="selected" {% endif %}>Cities</option>
    <option value="b.nama_country" {% if by == 'b.nama_country' %} selected="selected" {% endif %}>Countries</option>
</select>
<br/>

<div class="submit_div">
<input type="submit" class="button" value="search" /> <input name="bersihkan" type="button" class="btn" value="clear search" onclick="window.location='{{ base_url }}index.php/mains/country/datalist'" />
</div>
</form>

<table cellspacing="1" class="datagrid">
<thead>
<tr>
  	<th nowrap="nowrap">Country</th>
    <th nowrap="nowrap">City</th>
    <th nowrap="nowrap">Description</th>
    <th nowrap="nowrap">Process</th>
</tr>
</thead>
<tbody>
{% for data in data %}
  <tr>
    <td>{{ data.nama_country }} ({{ data.kode_country }})</td>
    <td>{{ data.nama_city }}</td>
    <td>{{ data.keterangan }}</td>
    <td><a href="{{ base_url }}index.php/main/city/form/?id={{ data.id_city|trim }}" class="tick_data" title="Edit Data"></a><a href="javascript:void(0)" onclick="deleteThis('{{ base_url }}index.php/main/city/delete/?id={{ data.id_city|trim }}')" class="delete_data"  title="Delete Data"></a></td>
  </tr>
{% endfor %}
</table>
{{ links|raw }}

{% endblock %}