{% extends "header.html" %}
{% block content %}

<div class="judul">ticketing / Airlines charge items form</div>

<div class="tabmenu">
	<ul class="ultab">
    	<li><a href="{{ base_url }}index.php/ticketing/airlines/dataList">list data</a></li>
        <li><a href="{{ base_url }}index.php/ticketing/airlines/form">form entry</a></li>
        <li class="seltab"><a href="#">Set Charge Items</a></li>
  </ul>
</div>

<form action="{{ base_url }}index.php/ticketing/airlines/getAirlinesID" method="post" name="form1">
<label for="nama_airlines">Airlines Name</label>
<select id="id_airlines" name="id_airlines">
    {% for lines in airlines %}
    <option value="{{ lines.id_airlines }}" {% if lines.id_airlines == edit.id_airlines %} selected="selected" {% endif %} style="background-image:url('{{ base_url }}/assets/upload/logo_airlines/{{ lines.logo }}')" >{{ lines.nama_airlines }} -> {{ lines.total_itemcharge }} charge items</option>
    {% endfor %}
</select>
<input type="submit" class="button" value="process" />
</form>

{% if edit.id_airlines !='' %}
<form action="{{ base_url }}index.php/ticketing/airlines/saveitemCharge" method="post" name="form1">
<input type="hidden" name="id_airlines" id="id_airlines" value="{{ edit.id_airlines }}" />
<table cellspacing="1" class="datagrid">
  <thead>
    <tr>
      <th nowrap="nowrap">No. </th>
      <th nowrap="nowrap">Item Name</th>
      <th nowrap="nowrap">Description</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  {% set x = 0 %}
  {% for i in 1..edit.total_itemcharge %}
  {% set x = i %}
  <tr>
    <td nowrap="nowrap">{{ x }}.</td>
    <td nowrap="nowrap">
    <select name="id_item{{ x }}" id="id_item{{ x }}">
      {% for item in item %}
    <option value="{{ item.id_item }}" {% if item.id_item == edit.id_item %} selected="selected" {% endif %}>{{ item.nama_item }}: {{ item.nilai_charge}}</option>
    {% endfor %}
    </select></td>
    <td><input name="keterangan{{ x }}" type="text" id="keterangan{{ x }}" style="width:98%;"/></td>
  </tr>
  {% endfor %}
</table>
<input type="hidden" name="jumlah" value="{{ x }}" id="jumlah" />
<input type="submit" class="button" value="Save" />
<input name="Reset" type="reset" class="btn" value="cancel" onclick="window.location='{{ base_url }}index.php/ticketing/airlines/listdata'" />
</form>
{% endif %}


{% endblock %}