{% extends "header.html" %}
{% block content %}

<div class="judul">ticketing / topup deposit</div>

<div class="tabmenu">
	<ul class="ultab">
    	<li><a href="{{ base_url }}index.php/ticketing/deposit/dataList">deposit list</a></li>
        <li class="seltab"><a href="#">deposit top up</a></li>
        <li><a href="{{ base_url }}index.php/ticketing/deposit/topupHistory">top up history</a></li>
    </ul>
</div>



<form action="{{ base_url }}index.php/ticketing/deposit/save" method="post" name="form1" enctype="multipart/form-data">
<input type="hidden" name="id" id="id" value="{{ edit.id_flight }}" />

<label for="id_airlines">Airlines Name</label>
<select id="id_airlines" name="id_airlines">
    {% for lines in airlines %}
    <option value="{{ lines.id_airlines }}" {% if lines.id_airlines == edit.id_airlines %} selected="selected" {% endif %} style="background-image:url('{{ base_url }}/assets/upload/logo_airlines/{{ lines.logo }}')" >{{ lines.nama_airlines }}</option>
    {% endfor %}
</select>
<br/>

<label for="nilai_topup">Top up Value</label>
<input name="nilai_topup" type="text" id="nilai_topup" value="{{ edit.nilai_topup }}" size="20" required /> *
<br/>

<label for="tanggal_topup">Top Up Date</label>
	<input name="tanggal_topup" type="text" size="10" onfocus="gfPop.fPopCalendar(this);" value="{{ edit.tanggal_topup }}" required /> *
<br/>

<label for="currency">Currency</label>
<select id="currency" name="currency">
    {% for curr in currency %}
    <option value="{{ curr.currency }}" {% if curr.currency == edit.currency %} selected="selected" {% endif %}>{{ curr.currency }}</option>
    {% endfor %}
</select>
<br/>

<label for="keterangan" class="top">Description</label>
<textarea name="keterangan" cols="50" rows="8" id="keterangan" type="text">{{ edit.keterangan }}</textarea>
<br/>


<div class="submit_div">
<input type="submit" class="button" value="save" /> <input name="Reset" type="reset" class="btn" value="cancel" onclick="window.location='{{ base_url }}index.php/ticketing/airlines/form'" />
</div>
</form>
{% endblock %}