{% extends "header.html" %}
{% block content %}

<div class="judul">ticketing / Charge Item form entry</div>

<div class="tabmenu">
	<ul class="ultab">
    	<li><a href="{{ base_url }}index.php/ticketing/itemcharge/dataList">list data</a></li>
        <li class="seltab"><a href="#">form entry</a></li>
    </ul>
</div>

<form action="{{ base_url }}index.php/ticketing/itemcharge/save" method="post" name="form1" enctype="multipart/form-data">
<input type="hidden" name="id" id="id" value="{{ edit.id_item }}" />
 
<label for="nama_item">Charge Item Name</label>
<input name="nama_item" type="text" id="nama_item" value="{{ edit.nama_item }}" size="30" required /> *
<br/>

<label for="nilai" class="top">Value</label>
<input name="nilai" type="text" id="nilai" value="{{ edit.nilai }}" size="20" required /> *
<br/>

<label for="currency">Currency</label>
<select id="currency" name="currency">
	<option value="">Select</option>
    {% for curr in currency %}
    <option value="{{ curr.currency }}" {% if curr.currency == edit.currency %} selected="selected" {% endif %}>{{ curr.currency }}</option>
    {% endfor %}
</select>
<br/>

<label for="persen_idr">In Precentage</label>
<select name="persen_idr" id="persen_idr">
	<option value="1" {% if edit.persen_idr =='1' %} selected="selected" {% endif %}>%</option>
	<option value="0" {% if edit.persen_idr =='0' %} selected="selected" {% endif %}>Money</option>
</select>
<br/>

<label for="keterangan" class="top">Description</label>
<textarea name="keterangan" cols="50" rows="8" id="keterangan" type="text">{{ edit.keterangan }}</textarea>
<br/>

<div class="submit_div">
<input type="submit" class="button" value="save" /> <input name="Reset" type="reset" class="btn" value="cancel" onclick="window.location='{{ base_url }}index.php/ticketing/airlines/form'" />
</div>
</form>
{% endblock %}