{% extends "header.html" %}
{% block content %}

<div class="judul">ticketing / Invoice List to payment</div>

<div class="tabmenu">
	<ul class="ultab">
    	<li class="seltab"><a href="#">invoice list</a></li>
    	<li><a href="{{ base_url }}index.php/ticketing/invoicepayment/form">payment form</a></li>         
	</ul>
</div>

<form action="" method="post">
<label for="find">Search</label>
<input name="find" type="text" id="find" size="40" value="{{ find }}" required /> *
<br/>

<label for="by">By</label>
<select name="by">
	<option value="a.invoice_number" {% if by == 'a.invoice_number' %} selected="selected" {% endif %}>Invoice Number</option>
    <option value="f.nama_lengkap" {% if by == 'f.nama_lengkap' %} selected="selected" {% endif %}>Customer Name</option>
</select>
<br/>

<div class="submit_div">
<input type="submit" class="button" value="search" /> <input name="bersihkan" type="button" class="btn" value="clear search" onclick="window.location='{{ base_url }}index.php/ticketing/invoice/dataListIssued'" />
</div>
</form>

<table cellspacing="1" class="datagrid">
<thead>
<tr>
  <th nowrap="nowrap">Invoice No./Date</th>
  <th nowrap="nowrap">Customer</th>
  <th nowrap="nowrap">Supplier</th>
  <th nowrap="nowrap">Airlines</th>
  <th nowrap="nowrap">Total</th>
    <th nowrap="nowrap">Payed</th>
    <th nowrap="nowrap">Process</th>
    </tr>
</thead>
<tbody>
{% for data in data %}
  <tr>
    <td nowrap="nowrap"><strong>{{ data.invoice_number }}</strong><br />
    {{ data.invoice_date }}</td>
    <td nowrap="nowrap">{{ data.nama_lengkap }}</td>
    <td nowrap="nowrap">{{ data.nama_vendor }}</td>
    <td nowrap="nowrap">{{ data.nama_airlines }}</td>
    <td nowrap="nowrap">{{ data.sell }}</td>
    <td nowrap="nowrap">{{ data.payed }}</td>
    <td>
    {% if data.terbayar < data.sell_price %}
    <div class="processLink">
    <a href="{{ base_url }}index.php/ticketing/invoicepayment/form/?id={{ data.id_invoice|trim }}" title="Print Invoice">Payment</a>
    </div>
    {% endif %}
    </td>
  </tr>
{% endfor %}
</table>
{{ links|raw }}

{% endblock %}