{% extends "header.html" %}
{% block content %}

<div class="judul">ticketing / stock transaction list</div>

<div class="tabmenu">
	<ul class="ultab">
    	<li class="seltab"><a href="#">stock transaction list</a></li>
        <li><a href="{{ base_url }}index.php/ticketing/stockticket/form">stock entry</a></li>
    </ul>
</div>

<form action="" method="post">
<label for="find">Search</label>
<input name="find" type="text" id="find" size="40" value="{{ find }}" required /> *
<br/>

<label for="by">By</label>
<select name="by">
	<option value="nama_airlines" {% if by == 'nama_airlines' %} selected="selected" {% endif %}>Name</option>
    <option value="keterangan" {% if by == 'keterangan' %} selected="selected" {% endif %}>Description</option>
</select>
<br/>

<div class="submit_div">
<input type="submit" class="button" value="search" /> <input name="bersihkan" type="button" class="btn" value="clear search" onclick="window.location='{{ base_url }}index.php/ticketing/airlines/datalist'" />
</div>
</form>

<table cellspacing="1" class="datagrid">
<thead>
<tr>
  	<th nowrap="nowrap">Vendor</th>
    <th nowrap="nowrap">Vendor Type</th>
    <th nowrap="nowrap">Stock Date</th>
    <th nowrap="nowrap">Ticket Numbering</th>
    <th nowrap="nowrap">Process</th>
    </tr>
</thead>
<tbody>
{% for data in data %}
  <tr>
    <td>{{ data.kode_vendor }} - {{ data.nama_vendor }}</td>
    <td>{{ data.nama_jenis }}</td>
    <td>{{ data.tanggal_stock }}</td>
    <td>{{ data.prefix }}{{ data.mulai }} - {{ data.prefix }}{{ data.hingga }}</td>
    <td><a href="javascript:void(0)" onclick="deleteThis('{{ base_url }}index.php/ticketing/stockticket/delete/?id={{ data.id_stock|trim }}')" class="delete_data"  title="Delete Data"></a></td>
  </tr>
{% endfor %}
</table>
{{ links|raw }}

{% endblock %}