{% extends "header.html" %}
{% block content %}

<div class="judul">ticketing / customers settings data list</div>

<div class="tabmenu">
	<ul class="ultab">
    	<li class="seltab"><a href="#">list data</a></li>
        <li><a href="{{ base_url }}index.php/ticketing/customer/formsetting">form entry</a></li>
    </ul>
</div>

<form action="" method="post">
<label for="find">Search</label>
<input name="find" type="text" id="find" size="40" value="{{ find }}" required /> *
<br/>

<label for="by">By</label>
<select name="by">
	<option value="nama_setting" {% if by == 'nama_setting' %} selected="selected" {% endif %}>Name</option>
</select>
<br/>

<div class="submit_div">
<input type="submit" class="button" value="search" /> <input name="bersihkan" type="button" class="btn" value="clear search" onclick="window.location='{{ base_url }}index.php/ticketing/customer/datalist'" />
</div>
</form>

<table cellspacing="1" class="datagrid">
<thead>
<tr>
  	<th nowrap="nowrap">Name/Type</th>
    <th nowrap="nowrap">Day(s)</th>
    <th nowrap="nowrap">Summary</th>
    <th nowrap="nowrap">Description</th>
    <th nowrap="nowrap">Process</th>
</tr>
</thead>
<tbody>
{% for data in data %}
  <tr>
    <td nowrap="nowrap">{{ data.nama_setting }}</td>
    <td>{{ data.days }}</td>
    <td>{{ data.gabung }}</td>
    <td>{{ data.keterangan }}</td>
    <td><a href="{{ base_url }}index.php/ticketing/customer/formsetting/?id={{ data.id_setting|trim }}" class="tick_data" title="Edit Data"></a><a href="javascript:void(0)" onclick="deleteThis('{{ base_url }}index.php/ticketing/customer/deletesetting/?id={{ data.id_setting|trim }}')" class="delete_data"  title="Delete Data"></a></td>
  </tr>
{% endfor %}
</table>
{{ links|raw }}

{% endblock %}