{% extends "header.html" %}
{% block content %}

<div class="judul">ticketing / supplier dp history</div>

<div class="tabmenu">
	<ul class="ultab">
    	<li><a href="{{ base_url }}index.php/ticketing/topup/dataList">down payment list</a></li>
        <li><a href="{{ base_url }}index.php/ticketing/topup/form">down payment</a></li>
        <li class="seltab"><a href="#">down payment history</a></li>
    </ul>
</div>

<form action="" method="post">
<label for="find">Search</label>
<input name="find" type="text" id="find" size="40" value="{{ find }}" required /> *
<br/>

<label for="by">By</label>
<select name="by">
	<option value="b.nama_vendor" {% if by == 'b.nama_vendor' %} selected="selected" {% endif %}>Name</option>
    <option value="a.keterangan" {% if by == 'a.keterangan' %} selected="selected" {% endif %}>Description</option>
</select>
<br/>

<div class="submit_div">
<input type="submit" class="button" value="search" /> <input name="bersihkan" type="button" class="btn" value="clear search" onclick="window.location='{{ base_url }}index.php/ticketing/airlines/datalist'" />
</div>
</form>

<table cellspacing="1" class="datagrid">
<thead>
<tr>
  <th nowrap="nowrap">DS NO </th>
  <th nowrap="nowrap">Transc No </th>
  <th nowrap="nowrap">Supplier </th>
    <th nowrap="nowrap">Type</th>
    <th nowrap="nowrap">Date</th>
    <th nowrap="nowrap">Deposit Value</th>
    </tr>
</thead>
<tbody>
{% for data in data %}
  <tr>
    <td>{{ data.dp_number }}</td>
    <td>{{ data.transc_number }}</td>
    <td>{{ data.nama_vendor }}</td>
    <td>{% if data.jenis_topup == 1 %} Direct TOP UP {% else %} REFUND {% endif %} </td>
    <td>{{ data.tanggal_topup }}</td>
    <td>{{ data.topup_value }}</td>
  </tr>
{% endfor %}
</table>
{{ links|raw }}

{% endblock %}