{% extends "header.html" %}
{% block content %}

<div class="judul">ticketing / flight data list</div>

<div class="tabmenu">
	<ul class="ultab">
    	<li class="seltab"><a href="#">flight list</a></li>
        <li><a href="{{ base_url }}index.php/ticketing/flight/form">flight entry</a></li>
    </ul>
</div>

<form action="" method="post">
<label for="find">Search</label>
<input name="find" type="text" id="find" size="40" value="{{ find }}" required /> *
<br/>

<label for="by">By</label>
<select name="by">
	<option value="a.nomor_flight" {% if by == 'a.nomor_flight' %} selected="selected" {% endif %}>Flight Number</option>
    <option value="c.nama_airport" {% if by == 'c.nama_airport' %} selected="selected" {% endif %}>Departure Airport</option>
    <option value="d.nama_airport" {% if by == 'd.nama_airport' %} selected="selected" {% endif %}>Arrive Airport</option>
    <option value="b.nama_airlines" {% if by == 'b.nama_airlines' %} selected="selected" {% endif %}>Airlines</option>
</select>
<br/>

<div class="submit_div">
<input type="submit" class="button" value="search" /> <input name="bersihkan" type="button" class="btn" value="clear search" onclick="window.location='{{ base_url }}index.php/ticketing/flight/datalist'" />
</div>
</form>

<table cellspacing="1" class="datagrid">
<thead>
<tr>
  	<th nowrap="nowrap">Flight</th>
    <th nowrap="nowrap">From</th>
    <th nowrap="nowrap">To</th>
    <th nowrap="nowrap">Description</th>
    <th nowrap="nowrap">Dep. Time</th>
    <th nowrap="nowrap">Arr. Time</th>
    <th nowrap="nowrap">Process</th>
</tr>
</thead>
<tbody>
{% for data in data %}
  <tr>
    <td align="center" nowrap="nowrap">
    	{% if data.logo !='' %}
    		<img src="{{ base_url }}assets/upload/logo_airlines/{{ data.logo }}" class="logoan" height="40" />
        {% endif %}
        
    	<br />
    	{{ data.nama_airlines }}<br />
<strong>{{ data.nomor_flight }}</strong></td>    
    <td nowrap="nowrap">{{ data.airportfrom }} (<strong>{{ data.inisialfrom }}</strong>) <br /> {{ data.kotafrom }}, {{ data.negarafrom }}</td>
   	<td nowrap="nowrap">{{ data.airportto }} (<strong>{{ data.inisialto }}</strong>) <br />{{ data.kotato }}, {{ data.negarato }}</td>
    <td nowrap="nowrap">{{ data.keterangan }}</td>
    <td>{{ data.tanggal_flight }}</td>
    <td>{{ data.tanggal_arrive }}</td>
    <td><a href="{{ base_url }}index.php/ticketing/flight/form/?id={{ data.id_flight|trim }}" class="tick_data" title="Edit Data"></a><a href="javascript:void(0)" onclick="deleteThis('{{ base_url }}index.php/ticketing/flight/delete/?id={{ data.id_flight|trim }}')" class="delete_data"  title="Delete Data"></a></td>
  </tr>
{% endfor %}
</table>
{{ links|raw }}

{% endblock %}