{% extends "header.html" %}
{% block content %}

<div class="judul">ticketing / pricing policy by airlines data list</div>

<div class="tabmenu">
	<ul class="ultab">
    	<li class="seltab"><a href="#">list data</a></li>
        <li><a href="{{ base_url }}index.php/ticketing/airlines/formPolicy">form pricing policy</a></li>
    </ul>
</div>

<form action="" method="post">
<label for="find">Search</label>
<input name="find" type="text" id="find" size="40" value="{{ find }}" required /> *
<br/>

<label for="by">By</label>
<select name="by">
	<option value="nama_airlines" {% if by == 'nama_airlines' %} selected="selected" {% endif %}>Name</option>
    <option value="keterangan" {% if by == 'keterangan' %} selected="selected" {% endif %}>Description</option>
</select>
<br/>

<div class="submit_div">
<input type="submit" class="button" value="search" /> <input name="bersihkan" type="button" class="btn" value="clear search" onclick="window.location='{{ base_url }}index.php/ticketing/airlines/dataListPricing'" />
</div>
</form>

<table cellspacing="1" class="datagrid">
<thead>
<tr>
  	<th nowrap="nowrap">Logo </th>
    <th nowrap="nowrap">Airlines </th>
    <th nowrap="nowrap">Address </th>
    <th nowrap="nowrap">Currency</th>
    <th nowrap="nowrap">Pricing Policy</th>
    <th nowrap="nowrap">Process</th>
</tr>
</thead>
<tbody>
{% for data in data %}
  <tr>
    <td>{% if data.logo !='' %} <img src="{{ base_url }}assets/upload/logo_airlines/{{ data.logo }}" class="logoan" height="60" /> {% endif %} <br /></td>
    <td>{{ data.nama_airlines }}</td>
    <td>{{ data.alamat }}</td>
    <td>{{ data.currency }}</td>
    <td>{{ data.policy }}</td>
    <td><div class="processLink"><a href="{{ base_url }}index.php/ticketing/airlines/formPolicy/?id={{ data.id_airlines|trim }}">set pricing policy</a></div></td>
  </tr>
{% endfor %}
</table>
{{ links|raw }}

{% endblock %}