{% extends "popup.html" %}
{% block content %}

<div class="judul">ticketing / report customer booking by period</div>

<table border="0" cellpadding="0" cellspacing="0" class="reportTable2">
<thead>
<tr>
  <th nowrap="nowrap">No Order</th>
  <th nowrap="nowrap">PRN</th>
  <th nowrap="nowrap">Booking Date</th>
  <th nowrap="nowrap">Name</th>
    <th nowrap="nowrap">ID Number</th>
    <th nowrap="nowrap">Flight Number</th>
    <th nowrap="nowrap"> Passenger</th>
    <th nowrap="nowrap">Total</th>
    </tr>
</thead>
<tbody>
{% for data in data %}
  <tr>
    <td><strong>{{ data.booking_number }}</strong></td>
    <td><strong>{{ data.prn }}</strong></td>
    <td>{{ data.tanggal_booking }}</td>
    <td nowrap="nowrap">{{ data.title }} {{ data.nama_lengkap }}</td>
    <td>{{ data.no_identitas }}</td>
    <td nowrap="nowrap">
    &bull; {{ data.airlines_pergi }} - <strong>{{ data.flight_pergi }}</strong>
    {% if data.flight_pulang !='' %}
    <br/> &bull; {{ data.airlines_pulang }} - <strong>{{ data.flight_pulang }}</strong>
    {% endif %}    </td>
    <td>
    Adult : {{ data.total_dewasa }}<br />
	Kid : {{ data.total_anak }}<br />
    Baby : {{ data.total_bayi }}    </td>
    <td>{{ data.total_trans }}</td>
  </tr>
{% endfor %}
</table>
{{ links|raw }}

{% endblock %}