{% extends "header.html" %}
{% block content %}

 <!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Company 
        </h1>

        <ol class="breadcrumb">
            <li>
                <i class="fa fa-gear"></i><a href="#"> Configuration</a>
            </li>

            <li class="active">
                 <i class="fa fa-bank"></i> Company
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="form-group col-lg-6">
            <div class="col-md-12">
                <div class="col-md-12"><input class="form-control" type="text"></div>
            </div>    
        </div>
        <div class="form-group col-lg-6">
            <div class="col-md-12">
                <div class="col-md-5">Status</div>
                <div class="col-md-7"><input  class="form-control" type="text"></div>                
            </div>    
        </div>
    </div>
</div>  
<div class="row">
    <div class="col-lg-12">
        <div class="form-group col-lg-5">
            <table class="table table-bordered table-hover table-striped" id="baseTable">
                <thead>
                <tr>
                    <th width="10"></th>
                    <th>Name</th>
                </tr> 
                </thead>
                <tbody>
                {% for data in company %}    
                <tr>
                    <td></td>
                    <td><a href="#" class="company" data-company-id="{{ data.id_company }}">{{ data.nama_company }}</a></td>
                </tr>  
                {% endfor %} 
                </tbody>    
            </table>   
            {{links|raw}}
            <div id='log'>x</div>
        </div>
        <div class="form-group col-lg-7">
            <div role="tabpanel">

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#detail" aria-controls="detail" role="tab" data-toggle="tab">Detail</a></li>
                    <li role="presentation"><a href="#other_info" aria-controls="other_info" role="tab" data-toggle="tab">Other Info</a></li>
                    <li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>                
                </ul> 
                
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="detail">
                        <!-- begin DETAIL LAYOUT -->
                        <div class="table-responsive">
                            <div class="row">    
                                <div class="col-lg-12">
                                    <div class="form-group col-md-12">
                                        <div class="col-md-3">
                                            <label>No</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" name="kode_company" value="{{ data.kode_company }}" id="kode_company">
                                        </div>
                                        
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-3">
                                            <label>Name</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" name="nama_company" value="{{ data.nama_company }}" id="nama_company">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-3">
                                            <label>Contact Name</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-3">
                                            <label>Type</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-3">
                                            <label>Place Of Birth</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-3">
                                            <label>Address</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-3">
                                            <label>Post Code</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-3">
                                            <label>State</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-3">
                                            <label>Home</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-3">
                                            <label>Office</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-3">
                                            <label>GSM</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-3">
                                            <label>CDMA</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-3">
                                            <label>Fax</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-3">
                                            <label>Email</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-3">
                                            <label>Status</label>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <!-- end DETAIL LAYOUT -->
                    </div>
                    <div role="tabpanel" class="tab-pane" id="other_info">
                        <!-- begin Other Info -->
                        <div class="table-responsive">
                            <div class="row">    
                                <div class="col-lg-12">
                                    
                                </div>
                            </div>    
                        </div>
                        <!-- end Other Info -->
                    </div>
                    <div role="tabpanel" class="tab-pane" id="history">
                    <!-- begin HISTORY LAYOUT -->
                        <div class="table-responsive">
                            <div class="row">    
                                <div class="col-lg-12">
                                    
                                </div>
                            </div>    
                        </div>
                        <!-- end HISTORY LAYOUT -->
                    </div>
                </div>    
            </div>    
        </div>        
    </div>
</div>  

<div class="row">
    <div class="col-lg-12">
        <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#credit_terms" aria-controls="credit_terms" role="tab" data-toggle="tab"> Credit Terms</a></li>
            <li role="presentation"><a href="#keep_commision" aria-controls="keep_commision" role="tab" data-toggle="tab"> Keep Commision</a></li>
            <li role="presentation"><a href="#corporate_details" aria-controls="corporate_details" role="tab" data-toggle="tab"> Corporate Details</a></li>                
            <li role="presentation"><a href="#term_day" aria-controls="term_day" role="tab" data-toggle="tab"> Term Day</a></li>
            <li role="presentation"><a href="#division" aria-controls="division" role="tab" data-toggle="tab"> Division</a></li>
            <li role="presentation"><a href="#billing" aria-controls="billing" role="tab" data-toggle="tab"> Billing and Cut-Off Date</a></li>
            <li role="presentation"><a href="#credit_card" aria-controls="credit_card" role="tab" data-toggle="tab"> Credit Card</a></li>
            <li role="presentation"><a href="#contact_person" aria-controls="contact_person" role="tab" data-toggle="tab"> Contact Person</a></li>
        </ul>
        
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="credit_terms">
            <!-- begin CREDIT TERM LAYOUT -->
                        <div class="table-responsive">
                            <div class="row">    
                                <div class="col-lg-12">
                                    
                                </div>
                            </div>    
                        </div>
            <!-- end CREDIT TERM LAYOUT -->
            </div>
            <div role="tabpanel" class="tab-pane" id="keep_commision">
            <!-- begin KEEP COMMISION LAYOUT -->
                        <div class="table-responsive">
                            <div class="row">    
                                <div class="col-lg-12">
                                    
                                </div>
                            </div>    
                        </div>
            <!-- end KEEP COMMISION LAYOUT -->
            </div>
            <div role="tabpanel" class="tab-pane" id="corporate_details">
            <!-- begin CORPORATE DETAILS LAYOUT -->
                        <div class="table-responsive">
                            <div class="row">    
                                <div class="col-lg-5">
                                   <div class="form-group col-md-12">
                                        <div class="col-md-3">
                                            <label>Head/Manager Name</label>
                                        </div>
                                    </div> 
                                    <div class="form-group col-md-12">
                                        <div class="col-md-3">
                                            <label>Position/Title</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-3">
                                            <label>Birthday</label>
                                        </div>
                                    </div> 
                                    <div class="form-group col-md-12">
                                        <div class="col-md-3">
                                            <label>Other CTC Person</label>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-lg-7">
                                    <div class="col-lg-6">
                                        <div class="form-group col-md-12">
                                            <div class="col-md-12">
                                                <label>Corporate deal</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <table class="table table-bordered table-hover table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>COD NO</th>
                                                        <th>DESCRIPTION</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>    
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group col-md-12">
                                            <div class="col-md-12 right">
                                                <label>Insurance</label>
                                            </div>
                                        </div>
                                         <div class="form-group col-md-12">
                                            <table class="table table-bordered table-hover table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>RC CODE</th>
                                                        <th>DESCRIPTION</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody> 
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
            <!-- end CORPORATE DETAILS LAYOUT -->
            </div>
            <div role="tabpanel" class="tab-pane" id="term_day">
            <!-- begin TERM DAY LAYOUT -->
                        <div class="table-responsive">
                            <div class="row">    
                                <div class="col-lg-12">
                                    <table class="table table-bordered table-hover table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Department</th>
                                                        <th>Product</th>
                                                        <th>Limit Day</th>
                                                        <th>Disc (%)</th>
                                                        <th>Disc Amount</th>
                                                        <th>PPN (%)</th>
                                                        <th>Profit</th>
                                                        <th>Formula</th>
                                                        <th>State</th>
                                                        <th>Tax Type</th>                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Department</td>
                                                        <td>Product</td>
                                                        <td>Limit Day</td>
                                                        <td>Disc (%)</td>
                                                        <td>Disc Amount</td>
                                                        <td>PPN (%)</td>
                                                        <td>Profit</td>
                                                        <td>Formula</td>
                                                        <td>State</td>
                                                        <td>Tax Type</td>
                                                    </tr>
                                                </tbody>    
                                    </table>
                                </div>
                            </div>    
                        </div>
            <!-- end TERM DAY LAYOUT -->
            </div>
            <div role="tabpanel" class="tab-pane" id="division">
            <!-- begin DIVISION LAYOUT -->
                        <div class="table-responsive">
                            <div class="row">    
                                <div class="col-lg-12">
                                   <table class="table table-bordered table-hover table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Division</th>
                                                        <th>Division Description</th>
                                                        <th>Sub Division</th>
                                                        <th>Sub Division Description</th>                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Department</td>
                                                        <td>Product</td>
                                                        <td>Limit Day</td>
                                                        <td>Disc (%)</td>
                                                        
                                                    </tr>
                                                </tbody>    
                                    </table> 
                                </div>
                            </div>    
                        </div>
            <!-- end DIVISION LAYOUT -->
            </div>
            <div role="tabpanel" class="tab-pane" id="billing">
            <!-- begin DIVISION LAYOUT -->
                        <div class="table-responsive">
                            <div class="row">    
                                <div class="col-lg-12">
                                    
                                </div>
                            </div>    
                        </div>
            <!-- end DIVISION LAYOUT -->
            </div>
            <div role="tabpanel" class="tab-pane" id="credit_card">
            <!-- begin DIVISION LAYOUT -->
                        <div class="table-responsive">
                            <div class="row">    
                                <div class="col-lg-7">
                                    <table class="table table-bordered table-hover table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Credit Card</th>
                                                        <th>Description</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Department</td>
                                                        <td>Product</td>
                                                         
                                                    </tr>
                                                </tbody>    
                                    </table>
                                </div>
                            </div>    
                        </div>
            <!-- end DIVISION LAYOUT -->
            </div>
            <div role="tabpanel" class="tab-pane" id="contact_person">
            <!-- begin DIVISION LAYOUT -->
                        <div class="table-responsive">
                            <div class="row">    
                                <div class="col-lg-12">
                                    
                                </div>
                            </div>    
                        </div>
            <!-- end DIVISION LAYOUT -->
            </div>
            
        </div>    
        </div>
        
    </div>
</div>    

    <script>
       $(document).ready(function () {
           $('.company').on('click', function(){
               var companyId = $(this).data('company-id');               
               if (!!companyId){
                   alert(companyId);
                   $.ajax({
                        type: "GET",
                        url: "{{ base_url }}index.php/configuration/company/get_id/" + companyId,
                        dataType: "json",
                        cache: false,
                        success: function(data) {
                            $('input[name="kode_company"]').val( data.kode_company );
                            $('input[name="nama_company"]').val( data.nama_company );
                        }
                    });     
               };
           });
       });
    </script> 

{% endblock %}

